body {
font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'Geneva', 'Arial', 'Helvetica', 'Swiss', 'SunSans-Regular'; 
margin: 1.5% 15% 1%;
padding: 0;
}

h1 {
font-size: xx-large;
}

h2 {
font-size: large; 
}

h3 {
font-size: medium;
}

p {
font-size: medium;
}

div {
font-size: medium;
}

ul {
font-size: medium;
}

ol {
font-size: medium;
}

table {
font-size: medium;
}

address {
font-size: small;
}

